* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #1b262c;
}

.navbar {
  display: flex;
  background-color: #0f4c75;
  height: 50px;
}

.navbar .logo {
  font-size: x-large;
  font-weight: 500;
  margin: auto;
}

.main-section {
  padding: 20px;
  background-color: #1b262c;
}

.container {
  background-color: #3282b8;
  height: 25vh;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 14px;
}
.top-container {
  width: 10rem;
  margin-left: 1%;
  padding: 0%;
}
.content-container {
  display: flex;
  justify-content: flex-start;
  height: 80%;
  width: 98%;
  margin: auto;
}
.boxes {
  background-color: aliceblue;
  width: 15rem;
  margin-right: 30px;
}

