* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #1b262c;
}

.navbar {
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #0f4c75;
  height: 50px;
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.75);
}

.navbar .logo {
  font-size: x-large;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}
.navbar .giticon {
  font-size: x-large;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}
.main-section {
  padding: 20px;
  background-color: #1b262c;
}

.container {
  background-color: #3282b8;
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 14px;
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.75);
}

.boxes {
  background-color: #1b262c;
  width: 14rem;
  height: 13rem;
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.75);
  border: solid rgba(2, 225, 255, 0.76) 2px;
  margin: 20px;
}
li {
  color: white;
  list-style: none;
}
