* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: #1b262c;
}

.navbar {
  padding-right: 25px;
  padding-left: 25px;
  display: flex;
  justify-content: space-between;
  background-color: #0f4c75;
  height: 50px;
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.75);
}

.navbar .logo {
  font-size: x-large;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}
.navbar .giticon {
  font-size: x-large;
  font-weight: 700;
  margin-top: auto;
  margin-bottom: auto;
}
.main-section {
  padding: 20px;
  background-color: #1b262c;
}

.container {
  background-color: #3282b8;
  height: 16rem;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 14px;
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.75);
}
.top-container {
  width: 20rem;
  margin-left: 1%;
  padding: 0%;
}
.top-container p {
  font-size: large;
  font-weight: 400;
}
.content-container {
  display: flex;
  justify-content: flex-start;
  height: 9.5rem;
  width: 113.5rem;
  margin: auto;
}
.boxes {
  background-color: #1b262c;
  width: 15rem;
  box-shadow: 5px 5px 30px 2px rgba(0, 0, 0, 0.75);
  margin-right: 30px;
  border: solid rgba(2, 225, 255, 0.76) 2px;
}
li {
  color: white;
  list-style: none;
}
